.Form {
    height: calc(100vh - 107px);
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../../assets/fondoWorld.jpg");
    background-size: 250px;
    background-repeat:repeat;
    background-position-x: center;
}

.Form input {
    width: 100%;
}

.Form span {
    color: #f00;
    max-width: inherit;
}

.Form div {
    margin: 5px;
}

.Form form {
    padding: 10px;
    display: flex;
    flex-direction: column;
    border: 3px solid black;
    background-color: #70C7DBcc;
}

.Form button {
    padding: 5px;
    background-color: #0065A2;
    border: 2px solid #70C7DB;
    color: #70C7DB;
}   

.radios {
    display: flex;
    width: fit-content;
}

.addRemove {
    display: flex;
    justify-content: space-around;
}

.duration {
    display: flex;
}