.containerSearch {
  position: relative;
  width: 100%;
  max-width: 400px;
}

.inputSearch {
  width: 100%;
  padding: 10px 50px 10px 10px; /* Aumenta el padding para hacer espacio para el botón */
  box-sizing: border-box;
  border-radius: 6px;
}

.botonSearch {
  position: absolute;
  right:0px; /* Ajusta según sea necesario */
  top: 50%;
  transform: translateY(-50%);
  background-color:  #5898bb;
  color:white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 4px;
}

