
.fondo {
    background-image: url('../../assets/nuevoFondo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}


.imageButton {
    cursor: pointer;
    transition: transform 0.3s;
    background-color: transparent; 
    border: none; 
    padding: 0; 
    overflow: hidden; 
}


.imageButton img {
    width: 100%; 
    height: auto; 
}

.imageButton:hover {
    transform: scale(1.05); 
}

body, html {
    margin: 0;
    padding: 0;
}




